.search_form {
  margin-top: 15px;
  margin-bottom: 40px;
  text-align: center;
}
.search_btn {
  margin-left: 10px;
  min-height: 25px;
  cursor: pointer;
  border-radius: 4px;
  border-width: 1px;
  background-color: rgba(170, 16, 16, 0.845);
  border-color: rgb(57, 14, 14);
  color: rgb(252, 248, 232);
}
.search_btn:hover {
  box-shadow: 1px 1px 2px 1px rgba(59, 59, 59, 0.462);
}
.search_input {
  min-height: 20px;
  min-width: 200px;
  padding-left: 5px;
}
.movies_list {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}
.movie_item {
  margin-bottom: 8px;
  list-style: none;
  font-weight: 500;
}
.movie_item:last-child {
  margin-bottom: 0px;
}
.movie_item_link {
  text-decoration: none;
  color: #000000;
}
.movie_item_link:hover,
.movie_item_link:focus {
  color: rgb(170, 16, 16);
  text-decoration: underline;
}
