.base_info_title {
  font-size: 30px;
}
.details_title {
  font-size: 24px;
}
.deteils_links {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
  font-size: 20px;
  margin-right: 15px;
}
.deteils_links:last-of-type {
  margin-right: 0px;
}
.deteils_links:focus,
.deteils_links:hover {
  color: rgb(12, 12, 231);
  font-weight: 700;
}
.back_btn {
  border: none;
  background-color: transparent;
}
.back_btn:focus,
.back_btn:hover {
  color: rgb(12, 12, 231);
}
