.nav_link {
  display: inline-block;
  padding: 12px;
  text-decoration: none;
  color: rgb(170, 16, 16);
  font-size: 20px;
  font-weight: 500;
}

.nav_link:hover,
.nav_link:focus {
  text-decoration: underline;
}

.active_nav_link {
  composes: nav_link;
  color: #0c0c0c;
}
